// Color variables
$mystic-color: #E7EDEF;
$caterpillar-yellow: #F0B823;
$outer-space: #293133;
$error-color: #DC143C;
$dove-gray: #707070;
$read-only: #EEEEEE;

// Decide which media query to use based on its given arguments
// $type = broad category of devices (such as screen)
// $feature = media feature such as min-width
//
// @content means that you can provide the css within the curly braces { } when calling this mixin with @include
// (see class .portal-button-large for an example
//
// @author Yari Morcus
@mixin media($type, $feature) {

    @if $feature == 'md' {
        @media only #{$type} and (min-width: 768px) {
            @content;
        }
    }

    @if $feature == 'lg' {
        @media only #{$type} and (min-width: 992px) {
            @content;
        }
    }

}

.h1,
.h2,
p,
button,
th,
td {
  font-family: Arial, Helvetica, sans-serif !important;
  color: $outer-space;  
}

tr {
    border-top: 1px solid $dove-gray !important;
    
    &:last-child {
        border-bottom: 1px solid $dove-gray !important;
    }
}

.remove-padding {
    padding: 0 !important;
}

.badge.sample-niet-ontvangen,
.badge.badge.afgehandeld {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $outer-space !important;
    width: 200px;
    height: 36px;
}

.badge.sample-niet-ontvangen {
    background-color: #DC143C !important;
}

.badge.afgehandeld {
    background: #2E8B57 !important;
}

// tr {
//     border-top: 1px solid $dove-gray !important;
//     border-color: $dove-gray !important;
// }

.wp-die-message, 
p {
    font-size: 16px !important;
}

.h1 {
    font-size: 32px !important;
}

.h2 {
    font-size: 24px !important;
}

.table>:not(caption)>*>* {
    padding: 1rem .5rem !important;
}

.table td {
    min-width: 170px;
    vertical-align: middle;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem #000 !important;
}
.col-form-label {
    color: $outer-space !important;
}

.text-muted {
    font-size: 13px !important;
}

input.readonly, 
input[readonly],
textarea.readonly, 
textarea[readonly]
select[readonly] {
    background-color: $read-only;
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
.wp-core-ui select,
textarea {
    border: 1px solid $outer-space !important;

    &:read-only {
        font-size: 16px;
        color: $outer-space;
    }
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
.wp-core-ui select {
    height: 45px;
}

#status-aanvraag,
#olie-ververst,
#filters-ververst,
#koelmiddel-gebruikt {
    min-width: 100%;
}

.wp-core-ui select {
    height: 34px !important;
}

.form-submit-button {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    background-color: $caterpillar-yellow !important;
    color: $outer-space !important;

    @include media('screen', 'md') {
        float: right;
        width: 220px;
    }
}

.portal-button {
    background-color: $caterpillar-yellow !important;
    border: 1px solid $outer-space !important;
    border-radius: 4px;
}

.portal-button-small {
    width: 183px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: black;
    text-decoration: none;
}

.portal-button-large {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125px;

    @include media('screen', 'lg') {
        width: 300px !important;
    }
}

.aanvraag-ingediend {
    padding: 1rem;
    text-align: center;
    color: $outer-space;
    background-color: $caterpillar-yellow;

    @include media('screen', 'lg') {
        max-width: 373px;
        text-align: left;
    }
}