// Color variables
$mystic-color: #E7EDEF;
$caterpillar-yellow: #F0B823;
$outer-space: #293133;
$error-color: #DC143C;
$dove-gray: #707070;
$read-only: #EEEEEE;

// Decide which media query to use based on its given arguments
// $type = broad category of devices (such as screen)
// $feature = media feature such as min-width
//
// @content means that you can provide the css within the curly braces { } when calling this mixin with @include
// (see class .portal-button-large for an example
//
// @author Yari Morcus
@mixin media($type, $feature) {

    @if $feature == 'sm' {
        @media only #{$type} and (min-width: 576px) {
            @content;
        }
    }

    @if $feature == 'md' {
        @media only #{$type} and (min-width: 768px) {
            @content;
        }
    }

    @if $feature == 'lg' {
        @media only #{$type} and (min-width: 992px) {
            @content;
        }
    }

}

.h1,
.h2,
p,
button,
th,
td {
  font-family: Arial, Helvetica, sans-serif !important;
  color: $outer-space;  
}

.remove-padding {
    padding: 0 !important;
}

.badge.sample-niet-ontvangen,
.badge.badge.afgehandeld {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $outer-space !important;
    width: 200px;
    height: 36px;
}

.badge.sample-niet-ontvangen {
    background-color: #DC143C !important;
}

.badge.afgehandeld {
    background-color: #2E8B57 !important;
}

.bewerken-container {
    padding: 0;
    display: flex;
    align-items: center;
    float: right;
    width: 130px !important;

    & > a {
        width: 100%;

        &:focus {
            color: #000 !important;
        }
    }
}

.opmerkingen-group > .bewerken-container {
    height: 45px;
}

.wp-die-message, 
p {
    font-size: 16px !important;
}

.h1 {
    font-size: 32px !important;
}

.h2 {
    font-size: 24px !important;
}

.table>:not(caption)>*>* {
    padding: 1rem .5rem !important;
}

.table>:not(:first-child) {
    border-top: 1px solid $dove-gray !important;
}

.table td {
    min-width: 170px;
    vertical-align: middle;
}

.invalid-feedback ul {
    margin-bottom: 0;

    & > li {
        list-style-type: initial;
    }
}

.portal-button,
.form-submit-button {
    
    &:hover {
        transition: .35s all ease-out;
        background-color: #FFD54D !important;
        color: #000;
    }

    &:active {
        transition: .35s all ease-out;
        background-color: #C29213 !important;
        color: #000;
    }
    
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem #000 !important;
}

.col-form-label {
    font-family: Arial, Helvetica, sans-serif;
    color: $outer-space !important;
    
    @include media('screen', 'sm') {
        text-align: right;
    }
}

.text-muted {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px !important;
    
    &#monsternummer-help {
        color: $outer-space !important;
        
    }
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
.wp-core-ui select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid $outer-space !important;
    
    &:read-only {
        font-size: 16px;
        color: $outer-space;
    }
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
#olie-ververst,
#filters-ververst,
#koelmiddel-gebruikt,
.wp-core-ui select {
    height: 45px !important;
}

input[type=checkbox]:focus, 
input[type=color]:focus, 
input[type=date]:focus, 
input[type=datetime-local]:focus, 
input[type=datetime]:focus, 
input[type=email]:focus, 
input[type=month]:focus, 
input[type=number]:focus, 
input[type=password]:focus, 
input[type=radio]:focus, 
input[type=search]:focus, 
input[type=tel]:focus, 
input[type=text]:focus, 
input[type=time]:focus, 
input[type=url]:focus, 
input[type=week]:focus, 
select:focus, 
textarea:focus,
.portal-button:focus,
.portal-button-small:focus {
    box-shadow: 0 0 0 1px #000000 !important;
}

#status-aanvraag,
#olie-ververst,
#filters-ververst,
#koelmiddel-gebruikt {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 16px;
    min-width: 100%;
}

input.readonly, 
input[readonly],
textarea.readonly, 
textarea[readonly],
select[disabled] {
    background: $read-only !important;
}

.form-submit-button {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    background-color: $caterpillar-yellow !important;
    color: $outer-space !important;

    @include media('screen', 'md') {
        float: right;
        width: 220px;
    }

    @include media('screen', 'lg') {
        width: 185px;
        height: fit-content;
    }
}

.portal-button {
    background-color: $caterpillar-yellow !important;
    border: 1px solid $outer-space !important;
    border-radius: 4px;
}

.portal-button-small {
    width: 183px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: black;
    text-decoration: none;
}

.portal-button-large {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125px;

    @include media('screen', 'lg') {
        width: 300px !important;
    }
}

.opslaan-button {
    color: #fff;
    line-height: initial !important;
    border: 1px solid #293133 !important;
    width: 100%;
    background-color: #2E8B57 !important;

    &:hover {
        color: #fff;
        background-color: hsl(146, 50%, 43%) !important;
    }

    .modal-footer & {
        width: initial;
    }
}

.annuleer-button {
    background-color: $error-color !important;
    line-height: initial !important;
    border: 1px solid #293133 !important;
}

.close {
    background-color: initial !important;
    border: 2px solid #293133 !important;
    border-radius: 4px !important;
}

.veld-leeg {
    display: block;
    margin-top: 1rem;
    padding: 0.3rem;
    background: #DC143C;
    color: white;
}

.aanvraag-ingediend {
    padding: 1rem;
    text-align: center;
    color: $outer-space;
    background-color: $caterpillar-yellow;

    @include media('screen', 'lg') {
        max-width: 373px;
        text-align: left;
    }
}