.h1,
.h2,
p,
button,
th,
td {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #293133;
}

tr {
  border-top: 1px solid #707070 !important;
}
tr:last-child {
  border-bottom: 1px solid #707070 !important;
}

.badge.sample-niet-ontvangen,
.badge.badge.afgehandeld {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #293133 !important;
  width: 200px;
  height: 36px;
}

.badge.sample-niet-ontvangen {
  background-color: #DC143C !important;
}

.badge.afgehandeld {
  background: #2E8B57 !important;
}

.wp-die-message,
p {
  font-size: 16px !important;
}

.h1 {
  font-size: 32px !important;
}

.h2 {
  font-size: 24px !important;
}

.table > :not(caption) > * > * {
  padding: 1rem 0.5rem !important;
}

.table td {
  min-width: 170px;
  vertical-align: middle;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #000 !important;
}

.col-form-label {
  color: #293133 !important;
}

.text-muted {
  font-size: 13px !important;
}

input.readonly,
input[readonly],
textarea.readonly,
textarea[readonly] select[readonly] {
  background-color: #EEEEEE;
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
.wp-core-ui select,
textarea {
  border: 1px solid #293133 !important;
}
input[type=date]:invalid,
input[type=datetime-local]:invalid,
input[type=datetime]:invalid,
input[type=email]:invalid,
input[type=month]:invalid,
input[type=number]:invalid,
input[type=password]:invalid,
input[type=search]:invalid,
input[type=tel]:invalid,
input[type=text]:invalid,
input[type=time]:invalid,
input[type=url]:invalid,
input[type=week]:invalid,
.wp-core-ui select:invalid,
textarea:invalid {
  border: 1px solid #DC143C !important;
}
input[type=date]:read-only,
input[type=datetime-local]:read-only,
input[type=datetime]:read-only,
input[type=email]:read-only,
input[type=month]:read-only,
input[type=number]:read-only,
input[type=password]:read-only,
input[type=search]:read-only,
input[type=tel]:read-only,
input[type=text]:read-only,
input[type=time]:read-only,
input[type=url]:read-only,
input[type=week]:read-only,
.wp-core-ui select:read-only,
textarea:read-only {
  font-size: 16px;
  color: #293133;
}

#status-aanvraag,
#olie-ververst,
#filters-ververst,
#koelmiddel-gebruikt {
  min-width: 100%;
}

.wp-core-ui select {
  height: 34px !important;
}

.form-submit-button {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background-color: #F0B823 !important;
}
@media only screen and (min-width: 768px) {
  .form-submit-button {
    float: right;
    width: 220px;
  }
}

.portal-button {
  background-color: #F0B823 !important;
  border: 1px solid #293133 !important;
  border-radius: 4px;
}

.portal-button-small {
  width: 183px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  color: black;
  text-decoration: none;
}

.portal-button-large {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px;
}
@media only screen and (min-width: 992px) {
  .portal-button-large {
    width: 300px !important;
  }
}

.aanvraag-ingediend {
  padding: 1rem;
  text-align: center;
  color: #293133;
  background-color: #F0B823;
}
@media only screen and (min-width: 992px) {
  .aanvraag-ingediend {
    max-width: 373px;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
